In [2]:
#import libraries
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
import sklearn

In [3]:
loan_df = pd.read_csv('loan_data_logistic.csv')
loan_df.head()

,person_income,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status,person_gender_male,person_education_Bachelor,person_education_Doctorate,...,person_education_Master,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,previous_loan_defaults_on_file_Yes
0,71948,35000,16,0,3,561,1,0,0,0,...,1,0,0,1,0,0,0,1,0,0
1,12282,1000,11,0,2,504,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
2,12438,5500,12,0,3,635,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,79753,35000,15,0,2,675,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
4,66135,35000,14,0,4,586,1,1,0,0,...,1,0,0,1,0,0,1,0,0,0

In [6]:
#divide data into train and test splits 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
X = loan_df.drop('loan_status',axis=1)
y = loan_df['loan_status']
X_train, X_test, y_train,y_test = train_test_split(X,y, test_size= 0.2,random_state=123)


#lets scale the data 
scaler = StandardScaler()
X_train_sc = scaler.fit_transform(X_train)
X_test_sc = scaler.transform(X_test)

#fit logistic regression model
logit_model = LogisticRegression()
logit_model.fit(X_train_sc, y_train)
logit_pred = logit_model.predict(X_test_sc)

#check model performance
print(accuracy_score(y_test, logit_pred))
print(classification_report(y_test,logit_pred))
print(confusion_matrix(y_test, logit_pred))

0.8891111111111111
              precision    recall  f1-score   support

           0       0.93      0.93      0.93      7036
           1       0.74      0.75      0.75      1964

    accuracy                           0.89      9000
   macro avg       0.84      0.84      0.84      9000
weighted avg       0.89      0.89      0.89      9000

[[6528  508]
 [ 490 1474]]